@font-face {
    font-family: nyt_franklin;
    src: url(font/BenFranklin.ttf);
}
@font-face {
    font-family: nyt_cheltenham;
    src: url(font/Cheltenham\ Regular.ttf);
}
@font-face {
    font-family: nyt_imperial;
    src: url(font/ImperialBT-Roman.otf);
}
@font-face {
    font-family: nyt_karnak;
    src: url(font/☞KarnakPro-Medium\ 400.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
.heading {
    display: flex;
    justify-items: end;
}
.logo {
    width: 75%;
    margin-left: -13%;
}
.logo img{
    padding: 1.5rem 1.5rem 1rem 1.5rem;
}
.header-left {
    margin-top: 5rem;
    padding-bottom: 1rem;
    font-family: nyt_franklin, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #121212;
    width: 25%;
    text-align: left;
}
.navigation {
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navigation > span{
    padding: 12px;
    font-size: 16px;
    font-family: nyt_franklin, Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.navigation > span:hover {
    text-decoration: underline;
}

/* NEWS Section */
.container {
    display: flex;
    height: max-content;
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
}
.container h3 {
    color: #121212;
    font-family: nyt_cheltenham, Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    margin-bottom: 1rem;
}
.container p {
    font-size: 14px;
    font-family: nyt_imperial;
    color: #5a5a5a;
    margin-bottom: 0.5rem;
}
#container-left-img {
    width: 350px;
    height: 320px;
}
#container-left {
    width: 65%;
    display: flex;
    text-align: left;
    border-right: 1px solid #ebebeb;
    padding-right: 1rem;
}
#container-left-body {
    padding-right: 1rem;
}
#container-right {
    width: 30%;
    padding-left: 1rem;
    text-align: left;
}
#container-right-img {
    width: 250px;
    height: 200px;
    margin-bottom: 1rem;
}

.section-logo {
    margin-top: 1.5rem;
}
.section-heading {
    font-family: nyt_karnak, Georgia, 'Times New Roman', Times, serif;
    border-bottom: 4px double #000000;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
}

/* Arts Page */
.arts-container {
    display: flex;
    margin-top: 1.5rem;
}
#arts-container-column1 {
    border-right: 1px solid #dfdfdf;
    padding-right: 1rem;
    text-align: left;
    margin-bottom: 2rem;
}
#arts-container-column2 {
    border-right: 1px solid #dfdfdf;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: left;
}
#arts-container-column3 {
    padding-left: 1rem;
    text-align: left;
}
#arts-container-column1-img {
    width: 600px;
    height: 400px;
    margin-bottom: 1.5rem;
    float: right;
}
#arts-container-column2-img {
    width: 300px;
    height: 200px;
    margin-bottom: 1.5rem;
}
#arts-container-column3-img {
    width: 200px;
    height: 150px;
    margin-bottom: 1.5rem;
}
.arts-column > span {
    color: #727272;
    font-size: 11px;
    font-family: nyt_franklin, Arial, Helvetica, sans-serif;
    padding-right: 5px;
}


.news-title {
    font-family: nyt_cheltenham, Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: #121212;
    margin-bottom: 7px;
}
.news-detail {
    font-size: 15px;
    font-family: nyt_imperial, Georgia, 'Times New Roman', Times, serif;
    color: #121212;
    margin-bottom: -0.75rem;
}
.news-credit::before {
    content: "• "
}

/* Business Page */
.business-container {
    display: flex;
    margin-top: 1.5rem;
}
#business-container-column1 {
    border-right: 1px solid #dfdfdf;
    padding-right: 1rem;
    text-align: left;
    margin-bottom: 2rem;
}
#business-container-column2 {
    border-right: 1px solid #dfdfdf;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: left;
}
#business-container-column3 {
    padding-left: 1rem;
    text-align: left;
}
#business-container-column1-img {
    width: 600px;
    height: 400px;
    margin-bottom: 1.5rem;
}
#business-container-column2-img {
    width: 300px;
    height: 200px;
    margin-bottom: 1.5rem;
}
#business-container-column3-img {
    width: 200px;
    height: 150px;
    margin-bottom: 1.5rem;
}
.business-column > span {
    color: #727272;
    font-size: 11px;
    font-family: nyt_franklin, Arial, Helvetica, sans-serif;
    padding-right: 5px;
}

/* Science Page */
.science-container {
    display: flex;
    margin-top: 1.5rem;
}
#science-container-column1 {
    border-right: 1px solid #dfdfdf;
    padding-right: 1rem;
    text-align: left;
    margin-bottom: 2rem;
}
#science-container-column2 {
    border-right: 1px solid #dfdfdf;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: left;
}
#science-container-column3 {
    padding-left: 1rem;
    text-align: left;
}
#science-container-column1-img {
    width: 600px;
    height: 400px;
    margin-bottom: 1.5rem;
}
#science-container-column2-img {
    width: 300px;
    height: 200px;
    margin-bottom: 1.5rem;
}
#science-container-column3-img {
    width: 200px;
    height: 150px;
    margin-bottom: 1.5rem;
}
.science-column > span {
    color: #727272;
    font-size: 11px;
    font-family: nyt_franklin, Arial, Helvetica, sans-serif;
    padding-right: 5px;
}

/* US Page */
.us-container {
    display: flex;
    margin-top: 1.5rem;
}
#us-container-column1 {
    border-right: 1px solid #dfdfdf;
    padding-right: 1rem;
    text-align: left;
    margin-bottom: 2rem;
}
#us-container-column2 {
    border-right: 1px solid #dfdfdf;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: left;
}
#us-container-column3 {
    padding-left: 1rem;
    text-align: left;
}
#us-container-column1-img {
    width: 600px;
    height: 400px;
    margin-bottom: 1.5rem;
}
#us-container-column2-img {
    width: 300px;
    height: 200px;
    margin-bottom: 1.5rem;
}
#us-container-column3-img {
    width: 200px;
    height: 150px;
    margin-bottom: 1.5rem;
}
.us-column > span {
    color: #727272;
    font-size: 11px;
    font-family: nyt_franklin, Arial, Helvetica, sans-serif;
    padding-right: 5px;
}

/* World Page */
.world-container {
    display: flex;
    margin-top: 1.5rem;
}
#world-container-column1 {
    border-right: 1px solid #dfdfdf;
    padding-right: 1rem;
    text-align: left;
    margin-bottom: 2rem;
}
#world-container-column2 {
    border-right: 1px solid #dfdfdf;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: left;
}
#world-container-column3 {
    padding-left: 1rem;
    text-align: left;
}
#world-container-column1-img {
    width: 600px;
    height: 400px;
    margin-bottom: 1.5rem;
}
#world-container-column2-img {
    width: 300px;
    height: 200px;
    margin-bottom: 1.5rem;
}
#world-container-column3-img {
    width: 200px;
    height: 150px;
    margin-bottom: 1.5rem;
}
.world-column > span {
    color: #727272;
    font-size: 11px;
    font-family: nyt_franklin, Arial, Helvetica, sans-serif;
    padding-right: 5px;
}